.categories {
    margin-bottom: 5rem;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2:last-child {
            font-size: 1.5rem;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .items {
        display: flex;
        overflow-x: scroll;
        gap: 1rem;

        &::-webkit-scrollbar {
            height: 0.5rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(113, 121, 0);
            border-radius: 1rem;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: rgb(153, 0, 0);
            border-radius: 1rem;
        }

        .item {
            position: relative;
            width: min-content;
            padding-bottom: 0.5rem;
            cursor: pointer;

            .drinkPhoto {
                width: 15rem;
                border-radius: 1rem;
            }
        }
    }
}