/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #482121;
    padding: 0 1rem;

    h2 {
        text-transform: capitalize;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}

@media screen and (max-width:500px) {
    :root {
        font-size: 13px;
    }
}